.user {
  display: flex;
  flex-direction: column;
}

.avatar {
  align-self: center;
  margin-bottom: 25px;
}

.lookForJob {
  font-family: "Abhaya Libre", serif;
}

.details {
  display: flex;
  justify-content: space-between;
  padding: 20px 25px;
  background: white;

  .info {
    h4 {
      display: flex;
      align-items: center;
      margin-bottom: 15px;

      span {
        font-size: 32px;
        color: #88898a;
      }

      div {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 15px;

        svg {
          color: #0fc19e;
          font-size: 20px;
        }
      }
    }
  }

  button {
    font-family: 'Varela Round', sans-serif;
    cursor: pointer;
    font-weight: 700;
    font-size: 14px;
    padding: 13px 31px;
    color: #fff !important;
    background: #0fc19e;
    letter-spacing: 1px;
    border: none;
    border-radius: 5px;
    height: fit-content;

    &:hover {
      background: #1ea88d;
    }

    .icon {
      margin-right: 7px;
    }
  }
}

.description {
  font-size: 15px;
  color: #848484;
  margin: 0 0 15px 0;

  span {
    color: #0fc19e;
  }
}

.links {
  a {
    font-size: 20px;
    text-decoration: none;
    margin-right: 15px;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }
  }

  .facebook {
    color: #3B5998;
  }
  .vk {
    color: #1A4B78;
  }
  .twitter {
    color: #55ACEE;
  }
  .instagram {
    color: #F44747;
  }
  .youtube {
    color: #FF0000;
  }
  .github {
    color: #211F1F;
  }
  .website {
    color: #2F1050;
  }
}

.site {
  font-size: 15px;
  color: #aaa;
}