.nav {
  grid-area: nav;
  border-top: 1px solid rgba(90, 90, 90, 0.12);
  background-color: grey;
  box-shadow: 0 -5px 25px 0 rgba(123, 123, 123, 0.15);
  color: #90a4ae;
  display: flex;
  justify-content: space-between;
  height: 150px;

  a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #4e514e;
    width: 270px;
    cursor: pointer;
    text-decoration: none;

    &.active {
      background-color: #0fc19e;
    }

    span {
      font-family: 'Abhaya Libre', serif;
      font-size: 14px !important;
      color: white;
    }

    svg {
      color: white;
      font-weight: 900;
      font-size: 30px;
      margin-bottom: 10px;
    }
  }
}