body {
    background: #f4f4f4;
    font-family: 'Abhaya Libre', serif;
}

.app-wrapper {
    display: grid;
    grid-template-rows: 63px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-template-areas:
          "header header"
          "nav nav"
          "content content";
    margin: 0 auto;
}

.app-content {
    grid-area: content;
}