.link {
  text-decoration: none;
}

.dialog {
  margin: 0 -29px;
  border-bottom: 2px solid #f4f4f4;
  cursor: pointer;
  position: relative;
}

.item {
  padding: 10px 10px 10px 20px;
  display: flex;
}

.photo {
  margin-right: 13px;
  position: relative;

  .dot {
    position: absolute;
    width: 6px;
    height: 6px;
    background: #0fc19e;
    border-radius: 50%;
    top: -3px;
    right: 0;
  }
}

.info {
  h3 {
    color: #88898a;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  p {
    color: #848484;
    font-size: 14px;
    margin-bottom: 10px;
  }

  div {
    color: #aaa;
    font-size: 13px;
  }
}

.unread_messages {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 5px;
  right: 10px;
  width: 25px;
  height: 25px;
  background-color: #0fc19e;
  font-size: 13px;
  color: #fff;
  border-radius: 50%;
}

.active {
  .dialog {
    background-color: #efefef;
  }
}